
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Account/_CabinetLayout.cshtml";
}

<h3>Adverts management</h3>

<!-- modal placeholder-->
<div id='advertModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='advertModalContent'></div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Advert list</strong>
    </div>
    <div id="replaceTarget">
        @{ Html.RenderAction("List", "Advert"); }
    </div>
</div>
