@model Rental.WebUI.Models.Account.UserCabinetViewModel
@{
    ViewBag.Title = "Summary";
    Layout = "~/Views/Account/_CabinetLayout.cshtml";
}

<h3>Summary</h3>

<p>You're logged in as <strong>@Model.UserName</strong>.</p>